<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lunch Time</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/addMarker_map_module.js"></script>
    <script src="/autocomplite_map_module.js"></script>
    <script src="/connect_map_module.js"></script>
    <script src="/geolocation_map_module.js"></script>
    <script src="/geocode_map_module.js"></script>
    <script src="/reverse_geocode_map_module.js"></script>
</head>
<body>
{{{ body }}}
</body>
</html>