<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lunch Time</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="../google_map_api/addMarker_map_module.js"></script>
    <script src="../google_map_api/geolocation_map_module.js"></script>
    <script src="../google_map_api/geocode_map_module.js"></script>
    <script src="../google_map_api/reverse_geocode_map_module.js"></script>
    <script src="../google_map_api/autocomplite_map_module.js"></script>
</head>
<body>
<div id="mainBoard">
    <div class="titleApp">
        <p>Askartec</p>
        <h2>Корпоративый ланч</h2>
    </div>
    <form action="/index" method="POST" class="addressForm">
        <input type="text" id="address" class="addressInput">
        <input type="text" id="coordinates" class="addressInput">
        <input type="text" id="result" class="addressInput">
        <input type="button" id="submit" class="addressSubmit" value="Найти">
        <button type="submit" class="addressCreate">Добавить в список</button>
    </form>
    <div id="infoBoard">
        <form action="/get-data" method="post" class="infoForm">
            <a href="">Загрузить список</a>
            <input type="button" id="addressUpdate" class="addressUpdate">
            <input type="button" id="randomGenerate" class="randomGenerate" value="Выбрать место">
        </form>
    </div>
    <div id="googleMap"></div>
    <script src="../google_map_api/connect_map_module.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0cdU9wpBC5QHLuSfRGiA__JNR_EuWFZY&callback=initMap&language=ru&libraries=places"></script>
</div>
</body>
</html>