<div id="mainBoard">
    <div class="titleApp">
        <p>Askartec</p>
        <h3>Корпоративый ланч</h3>
    </div>
    <div id="mapBoard">
        <form action="/insert" method="post" name="infoForm"  class="addressForm">
            <input type="text" id="address" name="address" class="addressInput">
            <input type="button" id="submit" class="addressSubmit" value="Найти"><br>
            <input type="text" id="coordinates" class="addressInput">
            <button type="submit" class="addressCreate">Добавить в список</button>
        </form>
        <div id="googleMap"></div>
    </div>
    <div id="infoBoard">
        <form action="/get-data">
            <button type="submit" class="addressLoad">Загрузить список мест</button>
            <div class="bodyInfo">
                {{# each items}}
                    <article class="item">
                        <div><p>{{this.address}}</p></div>
                        <div>
                            <form action="/delete" method="post">
                                <button type="submit" id="id" class="addressDelete"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </article>
                {{/each}}
            </div>
        </form>
        <div class="stripe"></div>
        <form action="/result" method="post">
            <button type="submit" class="addressChoose">Выбрать место</button>
            {{address}}
        </form>
    </div>

    <script src="/google_map_api/connect_map_module.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0cdU9wpBC5QHLuSfRGiA__JNR_EuWFZY&callback=initMap&language=ru&libraries=places"></script>
</div>